type sysfs_macloader, fs_type, sysfs_type;
type firmware_mfc, file_type;
type efs_device_file, file_type;
#type proc_cmdline, fs_type, proc_type;
type sysfs_cpuinfo, fs_type, sysfs_type;
type sysfs_cpufreq, fs_type, sysfs_type;
type sysfs_display, fs_type, sysfs_type;
type sysfs_radio, fs_type, sysfs_type;
type radio_data, file_type;
type cbd_device, dev_type;
type wifi_firmware_file, file_type;
type sysfs_lmkd, fs_type, sysfs_type;
#type glpgs_data_file, file_type, data_file_type;
type gps_data_file, file_type, data_file_type;
type firmware_exynos, file_type;
