type RIL-daemon, domain;
type RIL-daemon_exec, exec_type, file_type;
init_daemon_domain(RIL-daemon)

allow rild self:netlink_socket { create bind read write };
allow rild self:netlink_route_socket { write };
allow rild self:netlink_kobject_uevent_socket { create bind read write setopt };
allow rild rild:process { execmem };
allow rild toolbox_exec:file rx_file_perms;

allow rild radio_data_file:dir setattr;
allow rild unlabeled:dir search;

#allow radio log_device:chr_file w_file_perms;
#allow rild log_device:chr_file w_file_perms;
allow rild system_file:file execmod;
allow rild radio_data:file create_file_perms;
allow rild radio_data:dir create_dir_perms;

allow rild radio_device:chr_file rw_file_perms;
allow rild efs_block_device:blk_file rw_file_perms;
allow rild efs_file:file { read open write setattr };

allow rild efs_device_file:dir create_dir_perms;
allow rild efs_device_file:file { setattr create create_file_perms };
allow rild self:capability dac_override;
allow rild self:capability dac_read_search;
allow rild socket_device:dir { write };
allow rild socket_device:dir { add_name };
allow rild socket_device:sock_file { create write setattr };
allow rild qmuxd:unix_stream_socket { connectto };
allow rild proc_net:file { write };
allow rild radio_data_file:lnk_file { read };

allow rild radio_data:dir { search write remove_name getattr add_name setattr };
allow rild radio_data:file { write getattr setattr read create unlink open };
allow rild system_file:file execmod;
allow rild storage_file:dir search;
allow rild efs_block_device:blk_file read;
allow rild efs_device_file:dir search;
allow rild toolbox_exec:file { execute execute_no_trans getattr open read };
allow rild net_radio_prop:property_service set;
allow rild radio_data_file:dir { search open read write remove_name getattr add_name setattr };
allow rild radio_data_file:file { create getattr ioctl lock open read write unlink};
allow rild sysfs:file write;
allow rild vendor_file:file execmod;
allow rild shell_exec:file { getattr execute_no_trans execute open read };
allow rild system_file:file execmod;
allow rild vibrator_service:service_manager find;
allow rild vendor_file:file execmod;
allow rild dumpstate_prop:property_service set;
allow rild logcat_exec:file { execute execute_no_trans getattr open read };
allow rild dumpstate_exec:file { execute execute_no_trans getattr open read };
allow rild dumpstate_options_prop:file { getattr open read };
allow rild logd:unix_stream_socket connectto;
allow rild logdr_socket:sock_file write;
allow rild system_data_file:dir { search read add_name open write };
allow rild system_file:file execute_no_trans;
allow rild gps_device:chr_file rw_file_perms;
allow rild anr_data_file:dir search;
allow rild anr_data_file:file { open read };
