allow hal_allocator_default sysfs:file r_file_perms;
allow hal_allocator_default sysfs_cpuinfo:dir r_dir_perms;
allow hal_allocator_default sysfs_cpuinfo:file r_file_perms;
allow hal_allocator_default vendor_file:file read;
