allow mediaprovider_app sysfs_cpuinfo:dir r_dir_perms;
allow mediaprovider_app sysfs_cpuinfo:file r_file_perms;
allow mediaprovider_app vendor_file:file r_file_perms;