allow storaged sysfs_cpuinfo:dir r_dir_perms;
allow storaged sysfs_cpuinfo:file r_file_perms;
allow storaged sysfs_mmc:dir r_dir_perms;
allow storaged sysfs_mmc:file r_file_perms;
allow storaged debugfs:file r_file_perms;