allow untrusted_app_27 aconfigd_exec:file r_file_perms;
allow untrusted_app_27 atrace_exec:file r_file_perms;
allow untrusted_app_27 audioserver_exec:file r_file_perms;