allow vendor_init firmware_exynos:dir create_dir_perms;
allow vendor_init system_data_root_file:file relabelfrom;
allow vendor_init radio_data_file:dir r_file_perms;
allow vendor_init radio_device:lnk_file setattr;
allow vendor_init radio_data_file:dir r_dir_perms;
allow vendor_init radio_device:file create_file_perms;

